{% load static %}
<!-- Header -->
<header id="header">
    <!-- Nav -->
    <div id="nav">
        <!-- Main Nav -->
        <div id="nav-fixed">
            <div class="container">
                <!-- logo -->
                <div class="nav-logo">
                    <a href="{% url 'index' %}" class="logo"><img src="{% static 'img/logo.png' %}" alt=""></a>
                </div>
                <!-- /logo -->
                <!-- nav -->
                <ul class="nav-menu nav navbar-nav">
                    <li class="cat-1"><a href="{% url 'blog:category' %}?id=1">Дизайн</a></li>
                    <li class="cat-2"><a href="{% url 'blog:category' %}?id=2">Веб-разработка</a></li>
                    <li class="cat-3"><a href="{% url 'blog:category' %}?id=3">Мобильная разработка</a></li>
                    <li class="cat-4"><a href="{% url 'blog:category' %}?id=4">Маркетинг</a></li>
                    {% if user.is_authenticated %}
                    <li class="cat-1"><a href="{% url 'blog:create_post' %}" style="margin-left: 25px">Создать
                            статью</a></li>
                    {% endif %}
                </ul>
                <!-- /nav -->
                <!-- search & aside toggle -->
                <div class="nav-btns">
                    <button class="aside-btn"><i class="fa fa-bars"></i></button>
                    <button class="search-btn"><i class="fa fa-search"></i></button>

                    <form action="{% url 'index' %}" method="post">
                        {% csrf_token %}
                        <div class="search-form">
                            <input class="search-input" type="text" name="search_text"
                                placeholder="Enter Your Search ...">
                            <button class="search-close"><i class="fa fa-times"></i></button>
                        </div>
                    </form>

                </div>
                <!-- /search & aside toggle -->
            </div>
        </div>
        <!-- /Main Nav -->

        <!-- Aside Nav -->
        <div id="nav-aside">
            <!-- nav -->
            <div class="section-row">
                <ul class="nav-aside-menu">
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    {% if user.is_authenticated %}
                    <li>UserName: {{ user.username }}</li>
                    <li><a href="{% url 'blog:create_post' %}">Создать статью</a></li>
                    <li><a href="{% url 'auth:user_read' user.id %}">Личный кабинет</a></li>
                    <li><a href="{% url 'auth:logout' %}">Выйти</a></li>
                    {% else %}
                    <li><a href="{% url 'auth:login' %}">Войти</a></li>
                    <li><a href="{% url 'auth:register' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- /nav -->

            <!-- widget posts -->
            <div class="section-row">
                <h3>Свежие публикации</h3>

                {% for post in new_posts_list %}
                <div class="post post-widget">
                    <a class="post-img" href="{% url 'blog:read_post' post.id %}"><img
                            src="/media/{{ post.body_image|default:'default_images/default-post.jpg' }}" alt=""></a>
                    <div class="post-body">
                        <h3 class="post-title"><a href="blog-post.html">{{ post.title }}</a></h3>
                    </div>
                </div>
                {% endfor %}


            </div>
            <!-- /widget posts -->

            <!-- social links -->
            <div class="section-row">
                <h3>Follow us</h3>
                <ul class="nav-aside-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>
            <!-- /social links -->

            <!-- aside nav close -->
            <button class="nav-aside-close"><i class="fa fa-times"></i></button>
            <!-- /aside nav close -->
        </div>
        <!-- Aside Nav -->
    </div>
    <!-- /Nav -->
</header>
<!-- /Header -->