{% extends 'authapp/base.html' %}

{% block title %}Password changed{% endblock %}

{% block content %}
<div class="section">
    <!-- container -->
    <div class="container">
        <h1>Пароль изменен</h1>
            <p>Не забудьте новый пароль!</p>
                <button class="btn btn-link form-control">
                    <a href="{% url 'auth:edit' %}">
                       Вернутся к редактированию профиля
                    </a>
                </button>
    </div>
</div>
{% endblock %}