{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}
<div class="section">
    <!-- container -->
    <div class="container">
        <div class="row">

      Пользователь<strong>{{ user_read.first_name|title }}  -
                     {{ user_read.username|title }}</strong>
            <div class="box"><img src="/media/{{ user_read.avatar|default:'users_avatars/default.jpg' }}"
         alt="{{ user_read.username }}"></div>
    <div class="post">
      <b>О себе</b>
      <p>{{ user_read.about_me }}</p>
      <b>Пол</b>
      <p>{{ user_read.gender }}</p>
      <b>Электронная почта</b>
      <p>{{ user_read.email }}</p>
          {% if user.is_moderator %}
              <p>
                <button>
                  <a href={% url '' %}>
                    Заблокировать
                  </a>
                </button>
          {% endif %}
          <button>
          <a href={% url 'index' %}>
            На главную
          </a>
        </button>
      </p>
        </div>
    </div>
{% endblock %}