{% extends 'authapp/base.html' %}
{% load static %}


{% block content %}
<div class="section">
    <!-- container -->
    <div class="container">
    <form class="form-horizontal" action="{% url 'auth:register' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        {{ form.as_p }}
        <br>
        <input class="form-control" type="submit" value="Регистрация">
    </form>
    <button class="btn btn-link form-control">
        <a href="{% url 'auth:login' %}">
           Вход
        </a>
    </button>
    </div>
</div>
{% endblock %}