{% extends 'blogapp/base.html' %}
{% load static %}

{% block content %}


<!-- Page Header -->
<div class="page-header" id="post-header">
    <div class="background-img" style="background-image: url('/media/{{ post.body_image|default:'default_images/default-post.jpg' }}');"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10" style="margin-bottom: -40px">
                <div class="post-meta">
                    <a class="post-category cat-2" href="category.html">{{ post.category }}</a>
                    <span class="post-date">{{ post.created_date }}</span>
                </div>
                <h1>{{ post.title }}</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Page Header -->

<!-- /Header -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Post content -->
            <div class="col-md-8">
                <div class="section-row sticky-container">
                    <div class="main-post">
                        <p>{{ post.body_text|safe|linebreaks }}</p>
<!--                        <figure class="figure-img">-->
<!--                            <img alt="" class="img-responsive" src="/media/posts/detector.png">-->
<!--                        </figure>-->
                    </div>
                    {% if user.is_authenticated %}
                        {% if post.user_id == user_id or user_id.is_superuser or user_id.is_moderator %}
                        <div class="post-shares sticky-shares">
                            <a href="{% url 'blogapp:edit_post' post.id %}"><i class="fa fa-pencil"></i></a>
                            <a href="{% url 'blogapp:delete_post' post.id %}"><i class="fa fa-trash"></i></a>
                            <a href="{% url 'blogapp:like' 'Post' post.id post.id%}"><i class="fa fa-thumbs-up"></i></a>
                            <a>{{like_posts.count}}</a>
                        </div>
                        {% else %}
                        <div class="post-shares sticky-shares">
                            <a href="{% url 'blogapp:like' 'Post' post.id post.id%}"><i class="fa fa-thumbs-up"></i></a>
                            <a>{{like_posts.count}}</a>
                        </div>
                        {% endif %}
                        {% else %}
                        <div class="post-shares sticky-shares">
                            <a><i class="fa fa-thumbs-up"></i></a>
                            <a>{{like_posts.count}}</a>
                        </div>
                    {% endif %}
                </div>
                <!-- author -->
                <div class="section-row">
                    <div class="post-author">
                        <div class="media" style="margin-left: 80px;">
                            <div class="media-body">
                                <!-- tags -->
                                <div class="aside-widget" style="margin-bottom: -15px;">
                                    <div class="tags-widget">
                                        <ul>
                                            {% for tag in tags %}
                                            <li><a href="#">#{{tag}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <!-- /tags -->
                                <div class="media-heading" style="margin-top: 32px;">
                                    <div class="media-left">
                                    <a class="post-img" href="{% url 'auth:profile' post.user_id.id %}" style="text-decoration: none;"> <img
                                        src="/media/{{ post.user_id.avatar|default:'default_images/default-avatar.png' }}" alt=""  style="height: 64px; width: 64px; object-fit: cover; border-radius: 60px;"> {{ post.user_id }}  (перейти в профиль)</a>
                                    </div>
                                </div>
                                <ul class="author-social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /author -->
                <div class="row" style="margin-left: 70px">
                    <div class="col-md-20">
                        {% if user.is_authenticated %}
                        {% if user.is_banned %}
                        <p>За нарушения правил пользования сайтом Вы не можете
                            оставлять комментарии до {{ user.stop_banned_time }}
                        </p>
                        {% else %}


                        {% if new_comment %}
                        <h2>Your comment has been added.</h2>
                        {% endif %}

                        <h2>Оставить комментарий</h2>

                        <form action="." method="post">
                            {% csrf_token %}

                            {{ form.user_id.as_hidden }}
                            {{ form.created_date.as_hidden }}
                            {{ form.post_id.as_hidden }}
                            {{ form.is_active.as_hidden }}
                            {{ form.parent_comment_id.as_hidden }}
                            {{ form.head_comment.as_hidden }}

                            <div class="col-md-20">
                                {{ form.body_text }}
                            </div>
                            <p><input type="submit" value="Оставить"></p>
                        </form>
                        {% endif %}
                        {% else %}
                        <p>Чтобы оставить комментарий
                        <a href="{% url 'auth:login' %}">войдите</a> в
                            свой аккаунт или <a href="{% url 'auth:register' %}">зарегистрируйтесь.</a>
                        </p>

                        {% endif %}

                    </div>
                </div>
                <!-- comments -->
                <div class="section-row" style="margin-left: 70px">
                    <div class="section-title">
                        <h2>Комментарии: {{ comments.count }}</h2>
                    </div>

                    {% for comment in comments %}
                    <div class="post-comments">

                        <div class="media">
                            {% if comment.head_comment %}
                            <div class="media-left">
                                <img alt="" class="media-object" src="/media/{{ comment.user_id.avatar|default:'default_images/default-avatar.png' }}">
                            </div>

                            <div class="media-body">
                                <div class="media-heading">
                                    <h4>{{ comment.user_id }}</h4>

                                    <span class="time">{{ comment.created_date }}</span>
                                    {% if user.is_authenticated %}


                                    <!-- отвечать можно только на основной комментарий -->
                                    <a class="reply" href="{% url 'blogapp:comment_reply' comment.id %}">
                                        Ответить
                                    </a>

                                    {% if comment.user_id == user_id or user_id.is_superuser or user_id.is_moderator %}
                                    <a class="reply" href="{% url 'blogapp:comment_update' comment.id post.id %}">
                                        Изменить
                                    </a>
                                    <a class="reply" href="{% url 'blogapp:comment_delete' comment.id %}">
                                        Удалить
                                    </a>
                                    {% endif %}

                                    {% endif %}
                                    {% if user.is_authenticated %}


                                    <a href="{% url 'blogapp:like' 'Comment' post.id comment.id %}"
                                       style="margin: 25px; text-decoration: none;"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        <span class="badge rounded-pill">

                                            <span class="visually-hidden">{{comment.total_likes}}</span>
                                          </span>
                                    </a>

                                    {% endif %}
                                </div>
                                <p1>{{ comment.body_text|safe|linebreaks }}</p1>
                            </div>
                            {% else %}
                            <div class="media-left">
                                <img alt="" class="media-object" src="/media/{{ comment.user_id.avatar|default:'default_images/default-avatar.png' }}" style="margin-left: 60px;">
                            </div>
                            <div class="media-body">
                                <div class="media-heading-reply">
                                    <h5>{{ comment.user_id }}</h5>

                                    <span class="time">{{ comment.created_date }}</span>
                                    {% if user.is_authenticated %}

                                    {% if comment.user_id == user_id or user_id.is_superuser or user_id.is_moderator %}
                                    <a class="reply" href="{% url 'blogapp:comment_delete' comment.id %}" style="color: #a7b3c6;">
                                        Удалить
                                    </a>
                                    <a class="reply" href="{% url 'blogapp:comment_update' comment.id post.id %}" style="color: #a7b3c6;">
                                        Изменить
                                    </a>
                                    {% endif %}
                                    {% endif %}

<!--                                    <a href="{% url 'blogapp:like' 'Comment' post.id comment.id %}"-->
<!--                                       style="margin: 25px">Like-->
<!--                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">-->
<!--                                                <span class="visually-hidden">{{comment.total_likes}}</span>-->
<!--                                            </span>-->
<!--                                    </a>-->

                                    <a href="{% url 'blogapp:like' 'Comment' post.id comment.id %}"
                                       style="margin: 25px; text-decoration: none;"><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                                <span class="visually-hidden">{{comment.total_likes}}</span>
                                            </span>
                                    </a>

                                    <p1 class="sub-comment">{{ comment.body_text|safe|linebreaks }}</p1>

                                </div>
                            </div>

                            {% endif %}

                        </div>

                        {% endfor %}
                    </div>
                </div>


            </div>
            <!-- /reply -->
        </div>

    </div>
    <!-- /container -->
</div>
<!-- /section -->

<!-- Footer -->


<!-- jQuery Plugins -->
<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/main.js"></script>

</body>

{% endblock %}