{% extends 'blogapp/base.html' %}
{% load static %}

{% block content %}
<!-- section -->


<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
            <div class="row">
                <!-- post -->
                {% for post in posts_list %}
                <div class="col-md-12">
                    <div class="post post-row">
                        <a class="post-img" href="{% url 'blogapp:read_post' post.id %}"> <img
                                alt="" src="/media/{{ post.body_image|default:'default_images/default-post.jpg' }}"></a>
                        <div class="post-body">
                            <div class="post-meta">
                                <a class="post-category cat-2" href="">{{ post.category }}</a>
                                <span class="post-date">{{ post.created_date }}</span>
                            </div>
                            <h3 class="post-title"><a
                                    href="{% url 'blogapp:read_post' post.id %}">{{ post.title }}</a></h3>
                            <p style="display: block; height: 140px; width: auto; overflow: hidden; text-overflow: ellipsis">
                                {{ post.body_text }}</p>
                        </div>
                    </div>
                </div>
                        <!-- /post -->
                {% endfor %}
                </div>
                <div class="pagination">
                    <span class="step-links">
                        {% if posts_list.has_previous %}
                            <a href="?id={{ category_id }}&page=1">&laquo; Первая</a>
                            <a href="?id={{ category_id }}&page={{ posts_list.previous_page_number }}">Предыдущая</a>
                        {% endif %}

                        <span class="current">
                            Страница {{ posts_list.number }} из {{ posts_list.paginator.num_pages }}.
                        </span>

                        {% if posts_list.has_next %}
                            <a href="?id={{ category_id }}&page={{ posts_list.next_page_number }}">Следующая</a>
                            <a href="?id={{ category_id }}&page={{ posts_list.paginator.num_pages }}">Последняя &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->

{% endblock %}