{% extends 'blogapp/base.html' %}
{% load static %}


{% block content %}

user.id ={{ user.id }}
comment.user_id ={{ comment.user_id_id }}
<div class="section">
    <!-- container -->
    <div class="container">
        <form action="{% url 'blogapp:comment_reply' comment.id %}" method="post">
            {% csrf_token %}

            {{ form.user_id.as_hidden }}
            {{ form.created_date.as_hidden }}
            {{ form.post_id.as_hidden }}
            {{ form.is_active.as_hidden }}

            <div class="col-md-20">
                {{ form.body_text }}
            </div>
            <p><input type="submit" value="Add comment"></p>
        </form>
        </form>
    </div>
</div>
{% endblock %}