{% extends 'blogapp/base.html' %}
{% load static %}


{% block content %}

    <div class="section">
        <!-- container -->
        <div class="container">
            <form action="." method="post">
                {% csrf_token %}

                {{ form.user_id.as_hidden }} {{ form.created_date.as_hidden }} {{ form.post_id.as_hidden }} {{ form.is_active.as_hidden }}

                <div class="col-md-12">
                    {{ form.body_text }}
                </div>
                <p><input type="submit" value="Add comment"></p>
            </form>
            </form>
        </div>
    </div>
{% endblock %}