{% extends 'blogapp/base.html' %}
{% load static %}


{% block content %}

    <div style="text-align: center">
        <p style="font-size: xx-large; color: #d41306">Подтвердите удаление статьи <br> {{ object.title }} </p>
        <form method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Подтвердить"/>
        </form>
        <br>
        <a href="javascript:history.go(-1)" class="btn btn-primary">Назад</a> <br> <br>

    </div>


{% endblock %}